<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>GSTN Bulk Upload</h5>
        <br>

        <div class="">
            
            <input class="form-control" type="file" id="formFile">
            <label for="formFile" class="form-label pt-1">Click here for the upload format</label>
          </div>

          <div class="pt-2">
           <span  style="color: #3274e6;">Note : </span>
          Upload of any existing GSTN will be overwritten if upload again
          </div>

          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            <button type="button" class="btn btn-success">Proceed</button>
          </div>
       
    </div>
</body>