<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>REGISTER FOR STATEMENT</h5>


        <div class="container  mt-5 col">
            <div class="row">

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 border bg-light" style="text-align: center;">Subscription For Statament by mail
                        </div>
                    </a>
                </div>

                <div class="col-5 mr-3">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 border bg-light" style="text-align: center;">Unsubscription For Statament by
                            mail</div>
                    </a>
                </div>

            </div>

        </div>
        <select class="form-control col-9 mt-5 ml-3">
            <option>Subcription Form</option>
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
        </select>

        <div class="container mt-5">
            <button type="button" class="btn btn-success btn-lg">Register/Modify</button>
            <button type="button" class="btn btn-success btn-lg ml-1">Inquire Request</button>
        </div>
    </div>
</body>