<body class="container-fluid d-flex flex-row-reverse pt-5 mt-4" style="color: #42526E;">
    <div class="ml-5 pt-4  mt-4 mx-auto" style="background-color: #e6e6e6; width: 50%; ">


        <div class="row align-items-start">
            <div class="col">
                <h5 class="pl-3">DIRECT TAX</h5>
            </div>
        </div>

        <div class="container  mt-4 col">
            <div class="row g-2">

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                    <div class="p-2 border bg-light" style="text-align: center;">Tax deducted at Source (TDS)</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 border bg-light" style="text-align: center;">Tax Collected at Source (TCS)</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Income Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://propertytax.punecorporation.org/OnlinePay/PROP_DUES_DETAILS.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Corporation Tax</div>
                        </a>
                </div>



                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                    <div class="p-2 mt-3 border bg-light" style="text-align: center;">Dividend Distribution</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 mt-3 bg-light" style="text-align: center;">Security Transaction Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Hotel Receipts
                    Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://propertytax.punecorporation.org/OnlinePay/PROP_DUES_DETAILS.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Estate Duty</div>
                        </a>
                </div>



                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                    <div class="p-2 mt-3 border bg-light" style="text-align: center;">Interest Tax</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://www.incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 bg-light" style="text-align: center;">Wealth Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://www.incometaxindia.gov.in/Pages/acts/expenditure-tax-act.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Expenditure Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="#">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Gilt Tax</div>
                        </a>
                </div>

                <div class="col-5">
                    <a href="https://www.tin-nsdl.com/downloads/oltas/oltas-download.html">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Fringe Benefits Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://www.mahagst.gov.in/en/payments">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">VAT</div>
                        </a>
                </div>
            </div>
        </div>
    </div>
</body>