<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>PERIODIC STATEMENT</h5>

        <div class="btn-toolbar mt-5" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">YEARLY</button>

            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">HALF-TEARLY</button>

            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">QUARTERLY</button>
            </div>

            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">HALF-TEARLY</button>

            </div>
        </div>
        <div class="contener mt-5">
            <a href="#"><button type="button" class="btn btn-success " style="width: 150px;">Submit</button></a>
        </div>
    </div>
</body>