<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>LIVE ACCOUNT</h5>
        <br>
        <h6>Customer Profile</h6>
        <div class=" container bg-white text-dark p-3" style="border-radius: 2px; ">
            <span class="p-3 mt-2">Name Of
                Business&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span> MAHADEV
            HARDWARE <br>
            <span class="p-3 mt-2">Account Number
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span> 10011400000529
            <br>
            <span class="p-3 mt-2">Communication Address&nbsp;&nbsp;: </span>SR.NO.1/4.NR,, NR YASHKARAN HOTEL,
            HANDEWADI, Pune, Maharashtra, 412308
        </div>

        <div class=" container bg-white text-dark p-3 mt-3" style="border-radius: 2px; ">

            <table class="table mt-3 " style="color: #42526E;">
                <thead class="" style="background-color: rgb(160, 160, 160); ">
                    <tr>
                        <th scope="col">Account No.</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Total Invoice</th>
                        <th scope="col">Paid Invoice</th>
                        <th scope="col">Unpaid Invoice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>

                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>

                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>

                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>

                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1001140000529</th>
                        <td>RAMESH CHOUDHARY</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>