<body class="d-flex flex-row-reverse " style="color: #42526E;" >
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h4>Fees and Payments</h4>
        <br>

        <div class=" container bg-white text-dark p-3" style="border-radius: 20px; ">
            <span class="p-2">
                
                Fees <br>
            </span>

            <div class="btn-group w-75  mb-3 p-2" role="group" aria-label="Basic example">
                <button type="button"  class="btn bg-light border border-dark " style="border-radius: 20px  0px 0px 20px; "><input class="form-check-input"  type="radio"
                        name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Monthly</label></button>
                <button type="button" class="btn border border-dark bg-light"> <input class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Yearly</label></button>
                <button type="button" class="btn border border-dark bg-light" style="border-radius: 0px  20px 20px 0px;"><input class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">Other fees</label></button>
            </div>

           
            <!-- <div class="form-check form-check-inline  mb-3 ">
                <button class="rounded" style="width: 15vh; height: 4vh;"><input class="form-check-input" type="radio"
                        name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Monthly</label></button>
            </div>
            <div class="form-check form-check-inline">
                <button class="rounded" style="width: 15vh; margin-left: -13px; height: 4vh;"> <input
                        class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Yearly</label></button>
            </div>
            <div class="form-check form-check-inline mb-3">
                <button class="rounded" style="width: 15vh;  margin-left: -13px; height: 4vh;"> <input
                        class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                    <label class="form-check-label" for="inlineRadio3">Other fees</label></button>
            </div> -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingInput"
                    placeholder="Transaction Reference Name">

            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Account Number">

            </div>

            <div class="form-floating mb-3 Recipient">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingInput"
                    placeholder="Recipient">
                &nbsp;&nbsp;<a href="#"><i class="bi bi-plus-circle">&nbsp; Add Beneficiary</i></a>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Amount">

            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingInput" placeholder="Remarks">

            </div>
            <div class="form-floating">
                <input type="text" class="form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Pay On">

            </div>
            <div class="contener mt-3">
                <a href="#"><button type="button" class="btn btn-success " style="width: 150px;">Save</button></a>
                <a href="#"><button type="button" class="btn btn-success  ml-2"
                        style="width: 150px;">Proceed</button></a>
            </div>

        </div>

    </div>
</body>