<body class="d-flex flex-row-reverse pt-5 mt-5" style="color: #42526E;" >
    <div class="ml-5 pt-4 pl-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
      
        <h6>MONTHLY FEES PAYMENT</h6>
     
        <div class="col-12 col-md-15 ml-start pt-2">
                <input type="text" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                placeholder="Account Number">
        </div>
      
      <br>
        <h6>Account Number *</h6>
        <div class=" container form-floating mb-3">

            <div class="row align-items-start">
                <div class="col">
                    <input type="text" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Account Number">
    
                </div>
                <div class="col">
                    <input type="text" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="To">
                </div>               
              </div>

              <div class="row align-items-start pt-4">
                <div class="col col-12 col-md-6">
                    <input type="text" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Amount">
                </div>            
              </div>

              <div class="row align-items-start pt-4">
                <div class="col col-12 col-md-6">
                    <input type="text" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Remarks">
                </div>            
              </div>

              <div class="row align-items-start pt-4">
                <div class="col col-md-6">
                    <input type="date" class="row form-control" style=" height: 5vh;" id="floatingPassword"
                    placeholder="Account Number">
    
                </div>
                <div class="col pt-3 Add">
                    
                   <a href="#"> <i class="bi bi-plus-square-fill"> &nbsp;Add another single Payment</i></a>
                    
                </div>               
              </div>
        </div>
            <div class="contener mt-3">
                <a href="#"><button type="button" class="btn btn-success " style="width: 150px;">Save</button></a>
                <a href="#"><button type="button" class="btn btn-success  ml-2" style="width: 150px;">Proceed</button></a>
            </div>

        </div>

   
</body>