<body class="container-fluid d-flex flex-row-reverse pt-5 mt-4" style="color: #42526E;">
    <div class="ml-5 pt-4  mt-4 mx-auto" style="background-color: #e6e6e6; width: 50%; ">


        <div class="row align-items-start">
            <div class="col">
                <h5 class="pl-3">STATE TAX</h5>
            </div>
        </div>

        <div class="container  mt-4 col">
            <div class="row g-2">

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                    <div class="p-2 border bg-light" style="text-align: center;">Delhi State Tax</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 border bg-light" style="text-align: center;">West Bangal State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;"> Gujarat State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://propertytax.punecorporation.org/OnlinePay/PROP_DUES_DETAILS.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Odisha State Tax</div>
                        </a>
                </div>



                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                    <div class="p-2 mt-3 border bg-light" style="text-align: center;"> Meghalaya State Tax</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">
                        <div class="p-2 mt-3 bg-light" style="text-align: center;">Karnataka State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">  Assam State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://propertytax.punecorporation.org/OnlinePay/PROP_DUES_DETAILS.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Uttarakhand State Tax</div>
                        </a>
                </div>



                <div class="col-5">
                    <a href="https://incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                    <div class="p-2 mt-3 border bg-light" style="text-align: center;"> Punjab State Tax</div>
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://www.incometaxindia.gov.in/Pages/tax-services/pay-tax-online.aspx">
                        <div class="p-2 mt-3 bg-light" style="text-align: center;">Telangana State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="https://www.incometaxindia.gov.in/Pages/acts/expenditure-tax-act.aspx">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">Tripura State Tax</div>
                        </a>
                </div>
                <div class="col-5">
                    <a href="#">
                        <div class="p-2 mt-3 border bg-light" style="text-align: center;">TamilNadu State Tax</div>
                        </a>
                </div>

            </div>
        </div>
    </div>
</body>