 <app-nav></app-nav> 
<app-purchase-invoice></app-purchase-invoice>
<app-doc-outstanding-loan></app-doc-outstanding-loan>
<app-pay-in-slips></app-pay-in-slips>
<app-taxes></app-taxes>
<app-chequebook-records></app-chequebook-records>
<app-monthly-fees-payment></app-monthly-fees-payment>
<app-annual-fees-paymentt></app-annual-fees-paymentt>
<app-other-fees-payment></app-other-fees-payment>
<app-documents></app-documents>
<app-bank-statement></app-bank-statement>
<app-sales-invoice></app-sales-invoice>
<app-investment-details></app-investment-details>
<app-vehicles></app-vehicles>
<app-customer-kyc></app-customer-kyc>
<app-expense-details></app-expense-details>
<app-tax-payment></app-tax-payment>
<app-goods-and-service-tax></app-goods-and-service-tax>
<app-fixed-deosit></app-fixed-deosit>
<app-mutual-fund></app-mutual-fund>
<app-pay-gst></app-pay-gst>
<app-gstin-report></app-gstin-report>
<app-direct-tax></app-direct-tax>
<app-acknowledgement></app-acknowledgement>
<app-gstnbulk-upload></app-gstnbulk-upload>
<app-state-tax></app-state-tax>
<app-live-account></app-live-account>
<app-outstanding-loan></app-outstanding-loan>
<app-periodic-statement></app-periodic-statement>
<app-registre-for-statement></app-registre-for-statement>
<app-gst-statement></app-gst-statement> 
<app-insurance></app-insurance>
