<body class="container-fluid d-flex flex-row-reverse pt-5 mt-4" style="color: #42526E;">
    <div class="ml-5 pt-4  mt-4 mx-auto" style="background-color: #e6e6e6; width: 50%; ">


        <div class="row align-items-start">
            <div class="col">
                <h5 class="pl-3">MUTUAL FUND</h5>

            </div>
        </div>

        <div class="row align-items-start">
            <div class="col">
                <h6 class="pl-3 mt-2">You are not registered for online Mutual Fund Services..</h6>
            </div>
        </div>


          <div class="row align-items-start">
            <div class="col" >
               <h6 class="pl-3" style="color: #42526E;">To activate these services , please contact 1800-266-1294 or write in to <a href="#"> contant@ibgfincon.com   </a> </h6>
            
            </div>
        </div>
       

        <div class="contener mt-3 pl-3">
            <a href="#"><button type="button" class="btn btn-success " style="width: 150px;">Apply Now</button></a>
           
        </div>

    </div>
</body>