<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>OUTSTANDING LOAN</h5>
        

        <table class="table mt-3 " style="color: #42526E;">
            <thead class="" style="background-color: rgb(160, 160, 160); ">
                <tr>
                    <th scope="col">Account No.</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">Total Loan Amount</th>
                    <th scope="col">Paid Amount</th>
                    <th scope="col">Outstanding Amount</th>
                    <th scope="col">Loan Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>

                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>

                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>

                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
                <tr>
                    <th scope="row">1001140000529</th>
                    <td>RAMESH CHOUDHARY</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>  <form>
                        <label>
                            <select>
                                <option value="f1">Business Loan</option>
                                <option value="f1">Home Loan</option>
                                <option value="f1">Car Loan</option>
                                <option value="f1">Gold Loan</option>
                                <option value="f1">Property Loan</option>
                            </select>
                        </label>
                    </form></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>