<body class="d-flex flex-row-reverse " style="color: #42526E;">
    <div class="ml-5 p-3 mt-5 mx-auto" style="background-color: #e6e6e6; width: 50%; ">
        <!-- <div class="" style="color: #42526E;" >Fees and Payments</div> -->
        <h5>GST STATEMENT</h5>

        <div class="container row mt-5">

            <select class="form-control col-4  ml-3">
                <option>Choose Account</option>
                <option>Trading</option>

            </select>
            <select class="form-control col-4  ml-3">
                <option>Assesment For</option>
                <option>GST</option>
                <option>VAT</option>
                <option>Income Tax</option>
                <option>Service Tax</option>
                <option>Professional Tax</option>
            </select>
          
            <button class="bg-success ml-3" >Proceed</button>
          
        </div>

    </div>
</body>